---
const { title } = Astro.props;
import NavBarItem from "../components/NavBarItem";
import { EnvelopeIcon, PhoneIcon } from "@heroicons/react/24/solid";

import { Image } from "astro:assets";
import logo from "../../public/logo.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-balance bg-neutral-50">
    <nav
      class="sticky top-0 z-50 hidden rounded-b-2xl bg-white p-4 font-medium uppercase shadow-md sm:flex"
    >
      <div class="mx-auto flex w-full max-w-7xl">
        <div class="flex flex-1 items-center">
          <!-- spindersanering göteborg -->
          <div class="flex h-10 items-center justify-center overflow-hidden">
            <Image src={logo} alt="A bird." width="250" height="250" />
          </div>
        </div>
        <div class="flex flex-1 items-center justify-center gap-4">
          <NavBarItem scrollToId="vp" client:load>Process</NavBarItem>
          <NavBarItem scrollToId="ospg" client:load>Om Oss</NavBarItem>
          <NavBarItem scrollToId="vf" client:load>Vanliga Frågor</NavBarItem>
        </div>
        <div class="flex flex-1 items-center justify-end">
          <button class="rounded-full bg-black px-5 py-2 text-white shadow-md"
            >Kontakta oss</button
          >
        </div>
      </div>
    </nav>
    <slot />
    <footer class="rounded-t-2xl bg-neutral-100 px-4 py-32">
      <div class="mx-auto max-w-7xl">
        <div class="flex items-center">
          <EnvelopeIcon className="mr-2 size-5" /> info@spindelsanering-goteborg.se
        </div>
        <div class="flex items-center">
          <PhoneIcon className="mr-2 size-5" /> 073-6551713
        </div>
      </div>
    </footer>
  </body>
</html>
