---
import NavBarItem from "../components/NavBarItem";
import { EnvelopeIcon, PhoneIcon } from "@heroicons/react/24/solid";
import { Instagram, Phone, Mail } from "lucide-react";

import { Image } from "astro:assets";
import logo from "../../public/logo.png";
import KontaktaOssBtn from "../components/KontaktaOssBtn";
import KontaktaOssDialog from "@/components/KontaktaOssDialog";
import { buttonVariants } from "@/components/ui/button";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Spindelsanering Göteborg</title>
  </head>
  <body class="text-balance bg-neutral-50">
    <nav
      class="sticky top-0 z-50 bg-white/90 p-3 font-medium uppercase shadow-md backdrop-blur sm:flex"
    >
      <div class="mx-auto flex w-full max-w-7xl">
        <div class="flex flex-1 items-center">
          <!-- spindersanering göteborg -->
          <div class="flex h-10 items-center justify-center overflow-hidden">
            <Image
              loading="eager"
              src={logo}
              alt="A bird."
              width="250"
              height="250"
            />
          </div>
        </div>
        <div class="hidden flex-1 items-center justify-center gap-6 lg:flex">
          <NavBarItem scrollToId="vp" client:idle>Process</NavBarItem>
          <NavBarItem scrollToId="ospg" client:idle>Om Oss</NavBarItem>
          <NavBarItem scrollToId="vf" client:idle>Vanliga Frågor</NavBarItem>
        </div>
        <div class="flex flex-1 items-center justify-end">
          <KontaktaOssBtn client:load />
        </div>
      </div>
    </nav>
    <KontaktaOssDialog client:idle />
    <slot />
    <footer class="bg-neutral-100 px-4 py-32">
      <div class="mx-auto flex max-w-7xl justify-between gap-4">
        <div>
          <div class="flex items-center">
            <Mail className="mr-2 size-5" /> info@spindelsanering-goteborg.se
          </div>
          <div class="flex items-center">
            <Phone className="mr-2 size-5" /> 073-6551713
          </div>
          <div class="mt-4">
            <a
              class={`${buttonVariants({ size: "icon" })}`}
              href="https://www.instagram.com/spindelsanering_goteborg.se/"
              target="_blank"
            >
              <Instagram className="size-5" />
            </a>
          </div>
        </div>
        <div class="mb-4 max-w-xl">
          <strong>Våra Verksamhetsområden</strong>
          <br />
          <br />
          Utforska våra primära verksamhetsområden där vi ger spindelfria lösningar
          till våra kunder. Nedan ser du några av de platser där vi aktivt utför
          våra uppdrag.
          <br />
          <br />
          <strong>Västra Götalands län:</strong> Göteborg, Mölndal, Borås, Kinna,
          Ulricehamn, Lerum, Alingsås, Kungälv, Vårgårda, Herrljunga, Falköping,
          Tidaholm, Hjo, Skövde, Skara, Tibro, Karlsborg, Mariestad, Lidköping, Vänersborg,
          Trollhättan, Ljungskile, Lilla Edet, Munkedal.
          <br />
          <br />
          <strong>Hallands län:</strong> Laholm, Mellbystrand, Halmstad, Tylösand,
          Hyltebruk, Falkenberg, Torup, Ullared, Varberg, Kungsbacka Torup, Ullared,
          Varberg, Kungsbacka
          <br />
          <br />
          <strong>Jönköpings län:</strong> Rydaholm, Värnamo, Forsheda, Smålandsstenar,
          Vetlanda, Sävsjö, Anderstorp, Gislaved, Gnosjö, Hillerstorp, Skillingaryd,
          Vaggeryd, Eksjö, Nässjö, Aneby, Husqvarna, Jönköping, Mullsjö, Tranås.
          <br />
          <br />
          <strong>Kronobergs Län:</strong> Älmhult, Markaryd, Strömsnäsbruk, Tingsryd,
          Lessebo, Hovmantorp, Ingelstad, Alvesta, Grimslöv, Vislanda, Gemla, Växjö,
          Ljungby, Lagan, Moheda, Lenhovda, Braås, Åseda.
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
</style>
