---
const { title } = Astro.props;
import NavBarItem from "../components/NavBarItem.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 text-balance">
    <nav
      class="bg-white rounded-b-2xl p-4 uppercase font-medium flex sticky top-0"
    >
      <div class="flex w-full mx-auto max-w-7xl">
        <div class="flex-1 flex items-center">spindersanering göteborg</div>
        <div class="flex-1 justify-center flex gap-4 items-center">
          <NavBarItem>Process</NavBarItem>
          <NavBarItem>Om Oss</NavBarItem>
          <NavBarItem>Vanliga Frågor</NavBarItem>
        </div>
        <div class="flex-1 flex justify-end items-center">
          <button class="bg-black text-white px-5 py-2 rounded-full"
            >Kontakta oss</button
          >
        </div>
      </div>
    </nav>
    <div class="px-6">
      <slot />
    </div>
    <footer class="bg-neutral-100 py-32 rounded-t-2xl">
      <div class="max-w-7xl mx-auto">
        Mail: info@spindelsanering-goteborg.se Tel: 073-6551713
      </div>
    </footer>
  </body>
</html>
