---
import Layout from "../layouts/Layout.astro";
import VarProcessCard from "../components/VarProcessCard.astro";
import FaqCard from "../components/FaqCard.jsx";

import {
  EnvelopeIcon,
  ClockIcon,
  BeakerIcon,
} from "@heroicons/react/24/outline";
---

<Layout>
  <div class="flex flex-col items-center justify-center px-20 py-44">
    <h1 class="relative overflow-hidden text-center text-4xl font-bold">
      Vi ber om ursäkt, hemsidan är under konstruktion, ditt formulär har inte
      skickats
    </h1>
  </div>
</Layout>
