---
import Layout from "../layouts/Layout.astro";
import VarProcessCard from "../components/VarProcessCard.astro";
import FaqCard from "../components/FaqCard.jsx";

import { EnvelopeIcon, ClockIcon, BeakerIcon } from "@heroicons/react/24/solid";
---

<Layout>
  <div class="mx-auto max-w-7xl">
    <div
      class="flex flex-col justify-center items-center text-center text-balance py-60"
    >
      <h1 class="font-black sm:text-6xl text-4xl">
        Välkommen till Spindelsanering Göteborg
      </h1>
      <div class="font-bold text-2xl mt-2">
        Din expert på snabb och effektiv spindelsanering i Göteborg och hela
        Sverige
      </div>
      <div class="mt-6 flex gap-4">
        <button
          class="bg-black text-white rounded-full py-2 px-8 font-semibold shadow-md"
          >Boka nu</button
        >
        <button
          class="bg-black text-white rounded-full py-2 px-8 font-semibold shadow-md"
          >Läs mer</button
        >
      </div>
      <div class="mt-20">
        <p>
          Vi erbjuder en lösning för en spindelfri och trygg fasad, perfekt för
          dig med spindelfobi. Slipp oron för spindlar när du har fönstret öppet
          på sommaren. Boka vår effektiva metod nu. Vi är baserade i Göteborg
          men tar uppdrag utanför om det passar vår rutt. Ge din fasad omsorg
          och njut orolös.
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl">
    <div class="mb-20 border-b-4 border-neutral-100 pb-16">
      <div class="flex flex-col sm:flex-row">
        <h2 class="font-black text-4xl mb-6 sm:min-w-96">
          Varför du behöver välja oss
        </h2>
        <div class="grid grid-cols-1 w-full gap-4">
          <VarProcessCard title="Fem års erfarenhet"
            >Vi är övertygade om att vi är absolut bäst på marknaden. Varför?
            Alla våra tekniker har över fem års erfarenhet av spindelsanering
            och kan upptäcka gömställen som ingen annan
          </VarProcessCard>
          <VarProcessCard title="Lättillgängliga och supersnabba">
            Vi är inte bara lättillgängliga, vi är supersnabba att svara, vare
            sig det är via telefon, e-post eller sociala medier. Den snabbaste
            vägen till att boka oss är via e-post eller vårt smidiga formulär på
            hemsidan
          </VarProcessCard>
          <VarProcessCard title="Kemikalieinspektion">
            Vi följer kemikalieinspektionens regler och har samma
            förutsättningar som alla andra för att välja det lämpligaste medlet
          </VarProcessCard>
          <VarProcessCard title="Vi säger adjö inte bara till spindlarna">
            Vi säger adjö inte bara till spindlarna, utan även till andra
            otrevliga kräldjur som kryp, vägglöss och myror. Observera att detta
            inte ingår som standard, men vi har möjlighet att erbjuda sanering
            mot dessa oönskade besökare.
          </VarProcessCard>
        </div>
      </div>
      <p class="p-4 mt-8 text-center">
        Men här är skillnaden: vår erfarenhet har visat att för en framgångsrik
        sanering krävs gedigen erfarenhet och sunt förnuft för att applicera
        medlet på ett effektivt och professionellt sätt – och det är här vi
        verkligen utmärker oss. Vi skiner när det kommer till erfarenhet och
        expertis!
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-7xl">
    <div class="mb-20 border-b-4 border-neutral-100 pb-16">
      <h2 class="font-black text-4xl mb-8">Vår Process</h2>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1 bg-white rounded-2xl p-6 shadow relative">
          <div
            class="top-0 left-0 absolute -translate-x-1/4 -translate-y-1/4 bg-white flex items-center justify-center rounded-full size-8 shadow font-semibold text-lg"
          >
            1
          </div>
          <h3 class="font-semibold text-lg mb-2 flex items-center gap-2">
            <EnvelopeIcon className="size-6" />
            Konsultation
          </h3>
          <p>Berätta om din fastighet och de problem du stöter på</p>
        </div>
        <div class="flex-1 bg-white rounded-2xl p-6 shadow relative">
          <div
            class="top-0 left-0 absolute -translate-x-1/4 -translate-y-1/4 bg-white flex items-center justify-center rounded-full size-8 shadow font-semibold text-lg"
          >
            2
          </div>
          <h3 class="font-semibold text-lg mb-2 flex items-center gap-2">
            <ClockIcon className="size-6" />
            Överenskommelse
          </h3>
          <p>Vi går igenom detaljerna och bokar in en tid.</p>
        </div>
        <div class="flex-1 bg-white rounded-2xl p-6 shadow relative">
          <div
            class="top-0 left-0 absolute -translate-x-1/4 -translate-y-1/4 bg-white flex items-center justify-center rounded-full size-8 shadow font-semibold text-lg"
          >
            3
          </div>
          <h3 class="font-semibold text-lg mb-2 flex items-center gap-2">
            <BeakerIcon className="size-6" />
            Effektiv Sanering
          </h3>
          <p>Vi utför saneringen med precision och professionalism</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl">
    <div
      class="mb-20 flex flex-col md:flex-row-reverse border-b-4 border-neutral-100 pb-16"
    >
      <h2 class="font-black text-4xl mb-6 sm:min-w-96">
        Om spindelsanering Göteborg
      </h2>
      <p>
        Vi är stolta att vara Göteborgsbaserade och erbjuda exklusiv
        spindelsanering främst inom Göteborgsområdet. Vid samordnande uppdrag
        strävar vi efter att sprida vår exceptionella service även till andra
        delar av Sverige, och vi delar gärna utkörningsavgifter för att göra det
        smidigt och kostnadseffektivt. <br />
        <br />
        Vi förstår vikten av att erbjuda det bästa, särskilt för dem som värdesätter
        kvalitet och exklusivitet. Hos oss behöver ingen oroa sig för spindlar och
        småkryp – vi skapar en trygg och trivsam miljö av högsta klass!<br />
        <br />
        Året 2024 markerar en spännande utveckling för oss när vi öppnar upp under
        namnet Spindelsanering Göteborg, en sammanslagning av två framstående firmor.
        Målet är att fortsätta vara en ledande aktör i Göteborg och erbjuda exklusiv
        spindelsanering. Välkommen till Spindelsanering Göteborg, där passion för
        kvalitet och service står i fokus.
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-7xl">
    <div
      class="mb-20 flex flex-col sm:flex-row border-b-4 border-neutral-100 pb-16"
    >
      <h2 class="font-black text-4xl mb-6 sm:min-w-96">Vanliga Frågor</h2>
      <div class="flex flex-col gap-4 w-full">
        <FaqCard
          client:visible
          title={"Hur ofta bör spindelsaneringen utföras?"}
          desc="Vi rekommenderar årlig sanering för bästa resultat"
        />
        <FaqCard
          client:visible
          title={"När kan fönsterna putsas efter saneringen?"}
          desc="För optimalt fäste av medlet rekommenderar vi att vänta minst en vecka efter saneringen innan fönsterputsning"
        />
        <FaqCard
          client:visible
          title={"Berättigar tjänsten rut-avdrag?"}
          desc="Tyvärr godkänner inte Skatteverket denna tjänst för rutavdrag"
        />
        <FaqCard
          client:visible
          title={"Kan jag dela utkörningsavgiften med mina grannar?"}
          desc="Absolut, vi delar upp avgiften om ni är flera."
        />
        <FaqCard
          client:visible
          title={"Fasadtvätt innan eller efter?"}
          desc="Vi rekommenderar att tvätta fasaden innan sanering om du planerar att göra det under säsongen."
        />
        <FaqCard
          client:visible
          title={"Varför har jag inte hittat er tidigare?"}
          desc="För de som längtat efter en spindelfri tillvaro kan det vara en tanke som dyker upp. Vår exklusiva spindelsanering är skräddarsydd för att erbjuda den trygghet och komfort som du förtjänar. Vi välkomnar dig att upptäcka skillnaden med Spindelsanering Göteborg och skapa en spindelfri tillvaro för dig och din familj"
        />
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl">
    <div
      class="mb-20 border-b-4 border-neutral-100 pb-16 flex flex-col items-center"
    >
      <h2 class="font-black text-4xl mb-6 min-w-96 text-center">
        Kontakta oss
      </h2>
      <p class="text-center">
        Boka nu för en sommar utan oro från spindlar och låt oss ta hand om dina
        problem! Följ oss på Instagram för de senaste uppdateringarna. Vi ser
        fram emot att hjälpa dig och skapa en mer bekväm miljö.
      </p>
      <button class="bg-black text-white px-5 py-2 rounded-full mt-10 shadow-md"
        >Kontakta oss</button
      >
    </div>
  </div>
</Layout>
