---
import Layout from "../layouts/Layout.astro";
import VarProcessCard from "../components/VarProcessCard.astro";
import FaqCard from "../components/FaqCard.jsx";

import {
  EnvelopeIcon,
  ClockIcon,
  BeakerIcon,
} from "@heroicons/react/24/outline";

import { Image } from "astro:assets";
import cover from "../../public/cover.jpg";
import CarouselI from "@/components/Carousel";
---

<Layout>
  <div class="relative overflow-hidden">
    <div class="relative z-20 mx-auto max-w-7xl px-6">
      <div
        class="flex h-dvh flex-col items-center justify-center text-balance text-center"
      >
        <h1 class="text-4xl font-black sm:text-6xl">
          Välkommen till Spindelsanering Göteborg
        </h1>
        <div class="mt-2 text-2xl font-bold">
          Din expert på snabb och effektiv spindelsanering i Göteborg och hela
          Sverige
        </div>
        <div class="mt-6 flex gap-4">
          <button
            class="rounded-full bg-black px-8 py-2 font-semibold text-white shadow-md"
            >Boka nu</button
          >
          <button
            class="rounded-full bg-black px-8 py-2 font-semibold text-white shadow-md"
            >Läs mer</button
          >
        </div>
        <div class="mt-20">
          <p>
            Vi erbjuder en lösning för en spindelfri och trygg fasad, perfekt
            för dig med spindelfobi. Slipp oron för spindlar när du har fönstret
            öppet på sommaren. Boka vår effektiva metod nu. Vi är baserade i
            Göteborg men tar uppdrag utanför om det passar vår rutt. Ge din
            fasad omsorg och njut orolös.
          </p>
        </div>
      </div>
    </div>
    <!-- <div
      class="absolute w-full z-10 top-0 left-0 h-full flex justify-center items-center rounded-b-2xl overflow-hidden"
    >
      <Image
        class="opacity-10 w-full object-cover h-full"
        src={cover}
        width={1920}
        height={1080}
        alt=""
      />
    </div> -->
  </div>
  <div class="mx-auto mt-36 max-w-7xl px-6">
    <div class="border-b-4 border-neutral-100 pb-16">
      <div class="flex flex-col sm:flex-row">
        <h2 class="mb-6 text-4xl font-black sm:min-w-96">
          Varför du behöver välja oss
        </h2>
        <div class="grid w-full grid-cols-1 gap-4">
          <VarProcessCard title="Fem års erfarenhet"
            >Vi är övertygade om att vi är absolut bäst på marknaden. Varför?
            Alla våra tekniker har över fem års erfarenhet av spindelsanering
            och kan upptäcka gömställen som ingen annan
          </VarProcessCard>
          <VarProcessCard title="Lättillgängliga och supersnabba">
            Vi är inte bara lättillgängliga, vi är supersnabba att svara, vare
            sig det är via telefon, e-post eller sociala medier. Den snabbaste
            vägen till att boka oss är via e-post eller vårt smidiga formulär på
            hemsidan
          </VarProcessCard>
          <VarProcessCard title="Kemikalieinspektion">
            Vi följer kemikalieinspektionens regler och har samma
            förutsättningar som alla andra för att välja det lämpligaste medlet
          </VarProcessCard>
          <VarProcessCard title="Vi säger adjö inte bara till spindlarna">
            Vi säger adjö inte bara till spindlarna, utan även till andra
            otrevliga kräldjur som kryp, vägglöss och myror. Observera att detta
            inte ingår som standard, men vi har möjlighet att erbjuda sanering
            mot dessa oönskade besökare.
          </VarProcessCard>
        </div>
      </div>
      <p class="mt-8 p-4 text-center">
        Men här är skillnaden: vår erfarenhet har visat att för en framgångsrik
        sanering krävs gedigen erfarenhet och sunt förnuft för att applicera
        medlet på ett effektivt och professionellt sätt – och det är här vi
        verkligen utmärker oss. Vi skiner när det kommer till erfarenhet och
        expertis!
      </p>
    </div>
  </div>
  <div class="mx-auto mt-20 max-w-7xl px-6">
    <div class="mb-20 border-b-4 border-neutral-100 pb-16">
      <h2 class="mb-12 text-center text-4xl font-black sm:min-w-96">
        Ta en titt på hur det kan se ut
      </h2>
      <CarouselI client:load />
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6">
    <div class="mb-20 border-b-4 border-neutral-100 pb-16">
      <h2 class="mb-8 text-4xl font-black">Vår Process</h2>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="relative flex-1 rounded-2xl bg-white p-6 shadow">
          <div
            class="absolute left-0 top-0 flex size-8 -translate-x-1/4 -translate-y-1/4 items-center justify-center rounded-full bg-white text-lg font-semibold shadow"
          >
            1
          </div>
          <h3 class="mb-2 flex items-center gap-2 text-lg font-semibold">
            <EnvelopeIcon className="size-6" />
            Konsultation
          </h3>
          <p>Berätta om din fastighet och de problem du stöter på</p>
        </div>
        <div class="relative flex-1 rounded-2xl bg-white p-6 shadow">
          <div
            class="absolute left-0 top-0 flex size-8 -translate-x-1/4 -translate-y-1/4 items-center justify-center rounded-full bg-white text-lg font-semibold shadow"
          >
            2
          </div>
          <h3 class="mb-2 flex items-center gap-2 text-lg font-semibold">
            <ClockIcon className="size-6" />
            Överenskommelse
          </h3>
          <p>Vi går igenom detaljerna och bokar in en tid.</p>
        </div>
        <div class="relative flex-1 rounded-2xl bg-white p-6 shadow">
          <div
            class="absolute left-0 top-0 flex size-8 -translate-x-1/4 -translate-y-1/4 items-center justify-center rounded-full bg-white text-lg font-semibold shadow"
          >
            3
          </div>
          <h3 class="mb-2 flex items-center gap-2 text-lg font-semibold">
            <BeakerIcon className="size-6" />
            Effektiv Sanering
          </h3>
          <p>Vi utför saneringen med precision och professionalism</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-6">
    <div
      class="mb-20 flex flex-col border-b-4 border-neutral-100 pb-16 md:flex-row-reverse"
    >
      <h2 class="mb-6 text-4xl font-black sm:min-w-96">
        Om spindelsanering Göteborg
      </h2>
      <p>
        Vi är stolta att vara Göteborgsbaserade och erbjuda exklusiv
        spindelsanering främst inom Göteborgsområdet. Vid samordnande uppdrag
        strävar vi efter att sprida vår exceptionella service även till andra
        delar av Sverige, och vi delar gärna utkörningsavgifter för att göra det
        smidigt och kostnadseffektivt. <br />
        <br />
        Vi förstår vikten av att erbjuda det bästa, särskilt för dem som värdesätter
        kvalitet och exklusivitet. Hos oss behöver ingen oroa sig för spindlar och
        småkryp – vi skapar en trygg och trivsam miljö av högsta klass!<br />
        <br />
        Året 2024 markerar en spännande utveckling för oss när vi öppnar upp under
        namnet Spindelsanering Göteborg, en sammanslagning av två framstående firmor.
        Målet är att fortsätta vara en ledande aktör i Göteborg och erbjuda exklusiv
        spindelsanering. Välkommen till Spindelsanering Göteborg, där passion för
        kvalitet och service står i fokus.
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6">
    <div
      class="mb-20 flex flex-col border-b-4 border-neutral-100 pb-16 sm:flex-row"
    >
      <h2 class="mb-6 text-4xl font-black sm:min-w-96">Vanliga Frågor</h2>
      <div class="flex w-full flex-col gap-4">
        <FaqCard
          client:visible
          title={"Hur ofta bör spindelsaneringen utföras?"}
          desc="Vi rekommenderar årlig sanering för bästa resultat"
        />
        <FaqCard
          client:visible
          title={"När kan fönsterna putsas efter saneringen?"}
          desc="För optimalt fäste av medlet rekommenderar vi att vänta minst en vecka efter saneringen innan fönsterputsning"
        />
        <FaqCard
          client:visible
          title={"Berättigar tjänsten rut-avdrag?"}
          desc="Tyvärr godkänner inte Skatteverket denna tjänst för rutavdrag"
        />
        <FaqCard
          client:visible
          title={"Kan jag dela utkörningsavgiften med mina grannar?"}
          desc="Absolut, vi delar upp avgiften om ni är flera."
        />
        <FaqCard
          client:visible
          title={"Fasadtvätt innan eller efter?"}
          desc="Vi rekommenderar att tvätta fasaden innan sanering om du planerar att göra det under säsongen."
        />
        <FaqCard
          client:visible
          title={"Varför har jag inte hittat er tidigare?"}
          desc="För de som längtat efter en spindelfri tillvaro kan det vara en tanke som dyker upp. Vår exklusiva spindelsanering är skräddarsydd för att erbjuda den trygghet och komfort som du förtjänar. Vi välkomnar dig att upptäcka skillnaden med Spindelsanering Göteborg och skapa en spindelfri tillvaro för dig och din familj"
        />
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6">
    <div
      class="mb-20 flex flex-col items-center border-b-4 border-neutral-100 pb-16"
    >
      <h2 class="mb-6 min-w-96 text-center text-4xl font-black">
        Kontakta oss
      </h2>
      <p class="text-center">
        Boka nu för en sommar utan oro från spindlar och låt oss ta hand om dina
        problem! Följ oss på Instagram för de senaste uppdateringarna. Vi ser
        fram emot att hjälpa dig och skapa en mer bekväm miljö.
      </p>
      <button class="mt-10 rounded-full bg-black px-5 py-2 text-white shadow-md"
        >Kontakta oss</button
      >
    </div>
  </div>
</Layout>
